<body>

    <form action="">
        <div class="W_title">
        <h1>KICK_ARTIST</h1>
    </div>
    <div class="T_title">
        <h2>IICT TOURNAMENT</h2>
        <h2>SEASON 2022-23</h2>
    </div>
    <div class="info">
        <h2>Team Informartion </h2>
    </div>
    <div class="data">
        <div id="img">
            <h3 id="img_title">Upload your tournament Logo(High Quality)</h3>
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*">
        </div>
        <div id="team_details">
            <h3>Number of Team :</h3>
            <div>
                <label for="text">insert data:</label>
            <input type="text" name="text" id="t_num"> 
            </div>
                
        </div>
        <div id="team_data">
                <h3>Total team : N</h3>
                <h3>Squad member :15</h3>
        </div>  
    </div>
    <h3>HISTORY:</h3>
    <div id="tour_info">
        
        <p><h4>NOW , give and average level of description about this tournament .Information about the history of the tournament. Information about the team participating in this tournament.How tha university involves with this tournament.Information about the running champion .Information about the them of all time XI .Give info about some iconic player producing by this tournament and all the glory and achievement. </h4></p>
    </div>
    <div id="history">
        
        <label for="story">INSERT INFO :</label>
        <textarea id="story" name="story"
          rows="15" cols="100">
        </textarea>
    </div>
    <div class="btn">
        <button id="submit">SUBMIT</button>
    </div>
    
    </form>
</body>