<body>

    <form method="post" action="/aftersign" enctype="multipart/form-data">
        <div class="W_title">
        <h1>KICK_ARTIST</h1>
    </div>
    <div class="T_title">

        <h2>TOURNAMENT</h2>
        <h2>SEASON 2022-23</h2>
    </div>
    <div class="info">
        <h2>Team Informartion </h2>
    </div>
    <div class="data">
        <div>
            <h3>Tournament Name</h3>
             <label for="text">Name:</label>
            <input type="text" name="tournamentname" id="t_num" required>
        </div>
        <div >
            <h3 id="img_title">Upload your tournament Logo( *.jpg )</h3>
            <input type="file" class="form-control" id="inputGroupFile02"   name="image">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <div id="team_details">
            <h3>Number of Team :</h3>
            <div>
                <label for="text">insert data:</label>
            <input type="text" name="teamnumber" id="t_num"> 
            </div>
                
        </div>
        <div id="team_data">
                
                <h3>Squad member :15</h3>
        </div>  
    </div>
    <h3>HISTORY:</h3>
    <div id="tour_info">
        
        <p><h4>NOW , give and average level of description about this tournament .Information about the history of the tournament. Information about the team participating in this tournament.How tha university involves with this tournament.Information about the running champion .Information about the them of all time XI .Give info about some iconic player producing by this tournament and all the glory and achievement. </h4></p>
    </div>
    <div id="history">
        
        <label for="story">INSERT INFO :</label>
        <textarea id="story" name="story"
          rows="15" cols="100">
        </textarea>
    </div>
    <div class="btn">
       <button id="submit">SUBMIT</button> 
    </div>
    
    </form>
</body>