<body>
    <div class="bdy">
        <div>
            <h1><b>KICK ARTIST</b></h1>
        </div>
        <div class="tab-content">
          <div id="login">   
                <h2>MATCH BETWEEN!</h2>
                
                <form action="/hostupdate" method="post">
                 <div class="field-wrap2">
                  <label class="team1">
                    Tournament Name<span class="req">*</span>
                  </label>
                  <input type="text" name="tournamentname" required autocomplete="off"/>
                </div>
                
                  <div class="field-wrap">
                  <label class="team1">
                    TEAM 1<span class="req">*</span>
                  </label>
                  <input type="text" name="team1"required autocomplete="off"/>
                </div>
                
                <div class="field-wrap">
                  <label class="team1">
                    TEAM 2<span class="req">*</span>
                  </label>
                  <input class="team2" name="team2" type="text"required autocomplete="off"/>
                </div>
                <div class="top-row">
                  <div class="field-wrap">
                    <label>
                      Match NO:<span class="req">*</span>
                    </label>
                    <input type="number" name="matchno" required autocomplete="off" />
                  </div>
                  <h2>MATCH UPDATE!</h2>
                  <div class="field-wrap">
                   <div class="match_date">
                    <label class="matchdate">
                      Match Date<span class="req">*</span>
                    </label>
                    <input class="matchdateinput" name="matchdate" type="date"required autocomplete="off"/>
                   </div>
                   
                  </div>
                </div>
      
                <div class="field-wrap2">
                  <label>
                    Score TEAM 1<span class="req">*</span>
                  </label>
                  <input type="number" name="st1" required autocomplete="off"/>
                </div>
                
                <div class="field-wrap">
                  <label>
                   Score TEAM 2<span class="req">*</span>
                  </label>
                  <input type="number" name="st2" required autocomplete="off"/>
                </div>
                <div class="button">
                <button type="submit" class="button-button-block"/>UPDATE</button>
                </div>
               
                
               
                <!-- <button class="button button-block">UPDATE</button> -->
                
                </form>
      
              </div>
             
    </div>
    <footer id="foot">
        <div>
            <h4>Information</h4>
            <ul>
                <li>host should be nutral</li>
                <li>All terms and condition should be obey</li>
                <li>field should be neat and clean</li>
                <li>All player must be friendly</li>
                <li>tournament should be finished before deadline</li>
            </ul>
        </div>
        <div>
            <h4>DevelopedBy</h4>
            <ul>
                <li>Saiful</li>
                <li>Shafaet</li>
            </ul>
        </div>
    </footer>
    
</body>