
<body>
  <a href="/welcome"><h3>Home</h3></a>

  <div id="shortInfo">
    <h2>
        Information:
    </h2>
    <p id="info" >
        The origin of football can be found in every corner of geography and history. Long before our era, many cultures played a certain kind of ball game. Contemporary football as we know it today traces back to England in the 1900s, when rugby football and association football branched off on their different courses. From there on, football experienced an increasing professionalisation and popularity first in Europe and later all over the world. We bangladeshi people are crazy about football . Football is played here and there all over the country all year long . 
        In shahajalal university of science and technology(sust) creat a great enviroment for all students enjoy football a over the year . In every year university host a football tournament where every departments take participation with thier own departmental team . And beside this major tournament organization host few franchise based tournament such as champions leauge .Almost every department and every building host individual tournament where specific departmental students are participant in tournament . 
 
    </p>
  </div>
  
       <div class="heading">
        <h2>SELECT DEPERTMENT</h2>
    </div>
    <div class="table">
        <table width="90%">
            <tr>
            <th>
                <ul>
                    <li><a href="/teampage/CSE">CSE</a></li>
                    <li><a href="/teampage/EEE">EEE</a></li>
                    <li><a href="/teampage/PHY">PHY</a></li>
                    <li><a href="/teampage/IPE">IPE</a></li>
                    <li><a href="/teampage/CHE">CHE</a></li>
                    <li><a href="/teampage/STAT">STAT</a></li>
                </ul>
            </th>
            <vr>
            <th>
                <ul>
                    <li><a href="/teampage/CEP">CEP</a></li>
                    <li><a href="/teampage/BMB">BMB</a></li>
                    <li><a href="/teampage/GEE">GEE</a></li>
                    <li><a href="/teampage/ANP">ANP</a></li>
                    <li><a href="/teampage/PSS">PSS</a></li>
                    <li><a href="/teampage/PAD">PAD</a></li>
                  </ul>
            </th>
            <th>
                <ul>
                    <li><a href="/teampage/SOW">SOW</a></li>  
                    <li><a href="/teampage/SOC">SOC</a></li>
                    <li><a href="/teampage/OCE">OCE</a></li>
                    <li><a href="/teampage/SWE">SWE</a></li>
                    <li><a href="/teampage/MAT">MAT</a></li>
                    <li><a href="/teampage/PME">PME</a></li>
                </ul>
            </th>
            <th>
                <ul>
                    <li><a href="/teampage/ENG">ENG</a></li>
                    <li><a href="/teampage/BBA">BBA</a></li>  
                    <li><a href="/teampage/ECO">ECO</a></li>
                    <li><a href="/teampage/BAN">BAN</a></li>
                    <li><a href="/teampage/GEB">GEB</a></li>
                    <li><a href="/teampage/FET">FET</a></li>
                </ul>
            </th>
            </tr>
        </table>
    </div>
    <hr>
</body>