<body>
    <div class="W_title">
        <h1>KICK_ARTIST</h1>
    </div>
    <div class="T_title">
        <h2>IICT TOURNAMENT</h2>
        <h2>SEASON 2022-23</h2>
    </div>
    <div class="info">
        <h2>Team Informartion : </h2>
    </div>
    <div class="data">
        <h3>
            DATA :
        </h3>
        <ol>
            <li><h4>Tolal Team N</h4></li>
            <li><h4>Tolal Team Member 15</h4></li>
        </ol>
    </div>
    <div class="team_INFO">
       <div>
           <h2>TEAM INFO -</h2>
       </div>
       <hr>
    </div>
    <div class="playerInfo">
        <h3 id="t_num">TEAM 1</h3>
        <div>
            <div><h4>Player 1:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 2:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 3:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 4:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 5:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 6:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 7:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 8:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 9:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 10:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 11:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 12:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 13:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 14:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
        <div>
            <div><h4>Player 15:</h4></div>
            <label for="Player1">Name:</label>
            <input type="text">
            <label for="Player1">Jersey NO:</label>
            <input type="text">
            <label for="Player1">Position:</label>
            <input type="text">
        </div>
    </div>
    <hr>
    <div class="btn">
        <button id="submit">SUBMIT</button>
    </div>
</body>