<body>
    <h1 style="text-transform:uppercase;">{{tournament}} TOURNAMENT</h1>
    <hr>
    <img id="banner"
        src="https://img.freepik.com/free-vector/battle-versus-vs-background-sports-game_1017-23766.jpg?w=1060&t=st=1660253964~exp=1660254564~hmac=4a71d65076f0b63f71d790a3211e9f16908250112fae566daa802b5f37fcad1a"
        alt="TOURNAMENT _BANNER">

    <hr>
    <p>
        These two senses are distinct. All golf tournaments meet the first definition, but while match play tournaments meet the second, stroke play tournaments do not, since there are no distinct matches within the tournament. In contrast, association football leagues like the Premier League are tournaments in the second sense, but not the first, having matches spread across many venues over a period of up to a season. Many tournaments meet both definitions; for example, the Wimbledon tennis championship. Tournaments "are temporally demarcated events, participation in which confers levels of status and prestige amongst all participating members
    </p>

    <div id="toc" role="navigation" aria-labelledby="mw-toc-heading">
        <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
        <div class="toctitle" lang="en" dir="ltr">
            <h2 id="mw-toc-heading">Contents</h2><span class="toctogglespan"><label class="toctogglelabel"
                    for="toctogglecheckbox"></label></span>
        </div>
        <ul>
            <li class="toclevel-1 tocsection-1"><a href="#History"><span class="tocnumber">1</span> <span
                        class="toctext">History</span></a></li>
            <li class="toclevel-1 tocsection-2"><a href="#Point_Table"><span class="tocnumber">2</span> <span
                        class="toctext">Point Table</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-3"><a href="#Point_Table"><span class="tocnumber">2.1</span> <span
                                class="toctext">GroupA</span></a></li>
                    <li class="toclevel-2 tocsection-4"><a href="#Point_Table"><span class="tocnumber">2.2</span> <span
                                class="toctext">GroupB</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-5"><a href="/matchupdate/{{tournament}}"><span class="tocnumber">3</span> <span
                        class="toctext">Match Update</span></a></li>
            <li class="toclevel-1 tocsection-6"><a href="#TeamInfo"><span class="tocnumber">4</span> <span
                        class="toctext">Team Info</span></a></li>
        </ul>
    </div>

    <h2><span class="mw-headline" id="History">History</span></h2>
    {{#each result}}
    <p>
      {{this.History}}
          </p>
          {{/each}}
    <h2><span class="mw-headline" id="Point_Table">Point_Table</span></h2>
    <p>
        here are a number of reasons you may need a block of text and when you do, a random paragraph can be the perfect solution. If you happen to be a web designer and you need some random text to show in your layout, a random paragraph can be an excellent way to do this. If you're a programmer and you need random text to test the program, using these paragraphs can be the perfect way to do this. Anyone who's in search of realistic text for a project can use one or more of these random paragraphs to fill their need.
        Improve Writing
        For writers looking for a way to get their creative writing juices flowing, using a random paragraph can be a great way to do this. One of the great benefits of this tool is that nobody knows what is going to appear in the paragraph. This can be leveraged in a few different ways to force the writer to use creativity. For example, the random paragraph can be used as the beginning paragraph of a story that the writer must finish. I can also be used as a paragraph somewhere inside a short story, or for a more difficult creative challenge, it can be used as the ending paragraph. In every case, the writer is forced to use creativity to incorporate the random paragraph into the story.

      Rewriting Skills
    </p>
    <h3><u>POINT TABLE</u></h3>
    <div id="point_table">
        <table>
            <caption><u> GROUP-A</u></caption>
            <tbody>
            <tr><th>S.No</th>
              <th>Team</th>
              <th>Match Played</th>   
              <th>Win/Lose</th>
              <th>No Result</th>
              <th>Point</th>
            </tr>
            <tr>                                       
              <td data-label="S.No">1</td>
              <td data-label="Team">CSE</td>
              <td data-label="Match Played">12</td>
              <td data-label="Win/Lose">7/5</td>
              <td data-label="No Result">0</td>
              <td data-label="Point">14</td>
              </tr>
            <tr>
              <td data-label="S.No">2</td>
              <td data-label="Team">IPE</td>
              <td data-label="Match Played">10</td> 
              <td data-label="Win/Lose">6/3</td>
              <td data-label="No Result">1</td>
              <td data-label="Point">12</td>
              </tr>
            <tr>
              <td data-label="S.No">3</td>
              <td data-label="Team">PHY</td>
              <td data-label="Match Played">11</td> 
              <td data-label="Win/Lose">5/6</td>
              <td data-label="No Result">0</td>
              <td data-label="Point">10</td>
              </tr>
            <tr>
              <td data-label="S.No">4</td>
              <td data-label="Team">CHE</td>
              <td data-label="Match Played">9</td> 
              <td data-label="Win/Lose">4/3</td>
              <td data-label="No Result">2</td>
              <td data-label="Point">8</td>
              </tr>
              </tbody></table><table>
            <caption><U>GROUP-B</U></caption>
            <tbody>
            <tr><th>S.No</th>
              <th>Team</th>
              <th>Match Played</th>   
              <th>Win/Lose</th>
              <th>No Result</th>
              <th>Point</th>
            </tr>
            <tr>                                       
              <td data-label="S.No">1</td>
              <td data-label="Team">SEW</td>
              <td data-label="Match Played">12</td>
              <td data-label="Win/Lose">7/5</td>
              <td data-label="No Result">0</td>
              <td data-label="Point">14</td>
              </tr>
            <tr>
              <td data-label="S.No">2</td>
              <td data-label="Team">EEE</td>
              <td data-label="Match Played">10</td> 
              <td data-label="Win/Lose">6/3</td>
              <td data-label="No Result">1</td>
              <td data-label="Point">12</td>
              </tr>
            <tr>
              <td data-label="S.No">3</td>
              <td data-label="Team">ENG</td>
              <td data-label="Match Played">11</td> 
              <td data-label="Win/Lose">5/6</td>
              <td data-label="No Result">0</td>
              <td data-label="Point">10</td>
              </tr>
            <tr>
              <td data-label="S.No">4</td>
              <td data-label="Team">FET</td>
              <td data-label="Match Played">9</td> 
              <td data-label="Win/Lose">4/3</td>
              <td data-label="No Result">2</td>
              <td data-label="Point">8</td>
              </tr>
            </tbody></table>
    </div>
</body>